<!DOCTYPE html>
<html>
<head>
  <title>Comunator</title>
  <%= stylesheet_link_tag    "Comunator/application", media: "all" %>
  <%= javascript_include_tag "Comunator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
